---
import BaseLayout from '../../layouts/BaseLayout.astro'

import PostPreview from '../../components/PostPreview'

const posts = Astro.fetchContent('./*.md')
---
<style lang="scss">
  main {
    max-width: 930px;
    margin: auto;
    padding: 100px 50px;
  
    * {
      margin: auto;
      max-width: 930px;
    }

    h1 {
      font-size: 32px;
      padding-bottom: 32px;
    }

    section {
      display: grid;
      grid-template-columns: 1fr;
      gap: 50px;
    }
  }
</style>
<BaseLayout title="Ask Us">
	<main>
    <h1>Blog posts</h1>
    <section>
      {posts.map((post) => (
          <PostPreview post={post}></PostPreview>
        ))}
    </section>
  </main>
</BaseLayout>
