---
import { Markdown } from 'astro/components';
import BaseLayout from '../layouts/BaseLayout.astro'
---
<style>
  main {
    max-width: 930px;
    margin: auto;
    padding: 100px 50px;
  }
</style>
<BaseLayout title="About">
	<main>
    <Markdown>
        # Who we are
    
        We are a group of peers who have been in similar situations as you.
    
        We believe everyone deserves unconditional respect, support and compassion
        regardless of their age, gender, sexuality, religion, thoughts, past actions,
        physical or mental health, socioeconomic status or anything else. There is
        nothing that makes a person unworthy.
    
        We believe everyone deserves free access to this information without the
        attached stigma, misinformation and harmful advice many other resources
        perpetuate.
    
        We believe all health issues, including preventing abusive sexual behaviours,
        should be managed as _health_ issues, not as legal issues.
    
        # Our goal
    
        Our only goal is to share unbiased information and peer advice about sexuality,
        pornography, abusive sexual behaviour and other sensitive topics with those who
        may be in need, particularly children, adolescents and young adults who are just
        coming to terms with their sexual thoughts and actions.
    
        # Disclaimer
    
        What's Okay does not provide professional advice of any kind and is not a
        substitute for seeking advice from a professional.
    </Markdown>
  </main>
</BaseLayout>
