---
import { Markdown } from 'astro/components';
import BaseLayout from '../layouts/BaseLayout.astro'
---
<style lang="scss">
  section {
    padding: 100px 50px;
    color: #fff;
    background-color: #60bc56;
    height: 100%;
  
    * {
      margin: auto;
      max-width: 930px;
    }

    h1 {
      font-size: 32px;
    }

    h2 {
      margin-top: 50px;
    }

    a {
      color: #fff;
    }

    code {
      word-break: break-word;
    }
  }
</style>
<BaseLayout title="Ask Us">
	<main>
    <section>
      <h1>It's Okay to ask. We're here to help.</h1>

      <h2>Chat with the community</h2>
      <p>
        Open MAP Community (OMC) is a chat-based community for minor-attracted
        persons (MAPs) aged 15 years and older to give and receive peer support.
      </p>
      <p>
        You can join the chat by going to the
        <a href="https://mapcommunity.org">OMC homepage.</a>
      </p>
    </section>
  </main>
</BaseLayout>
