---
import { Markdown } from 'astro/components';
import BaseLayout from '../layouts/BaseLayout.astro'
---

<style lang="scss">
  body > main {
    background-color: #faa12d;
    padding-bottom: 1px;
    max-width: 100vw;
  }

  body > main > header {
    display: grid;
    background-color: #c36eb2;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;

    .title {
      margin: auto;
      padding: 0 clamp(35px, 85px, 5vw);
      
      h1, p {
        font-size: 45px;
        max-width: 1050px;
      }
    }

    nav {
      display: flex;
      flex-wrap: wrap;
      place-content: center;
      gap: 25px;
      margin: 45px auto;
      padding: 0 clamp(35px, 85px, 5vw) 25px clamp(35px, 85px, 5vw);
      max-width: 1050px;

      a {
        padding: 20px 35px;
        background-color: #faa12d;
        color: #000000;
        text-decoration: none;
        font-weight: 800;
      }

    }

    .small a {
      color: #faa12d;
      font-weight: 800;
    }
  }

  .card {
    margin: clamp(35px, 85px, 5vw) auto;
    padding: clamp(115px, 200px, 10vw) clamp(35px, 100px, 10vw);
    background-color: #fff;
    max-width: 80ch;

    header {
      color: #ab3192;
      font-weight: 800;
      max-width: 500px;

      h1 {
        font-size: clamp(32px, 5vw, 45px);
        margin: 0;
      }

      p {
        font-size: 28px;
        line-height: 40px;
        margin: 16px;
      }
    }

    main {
      font-size: 18px;
      line-height: 25px;

      details {
        margin: 65px 0;

        summary {
          color: #ab3192;
          font-weight: 800;

          &::marker {
            content: "+";
            font-size: 32px;
          }

          h2 {
            padding-left: 12px;
            display: inline;
          }
        }
      }
    }
  }
</style>

<BaseLayout title="FAQ">
  <main>
    <header>
      <div class="title">
        <h1>Frequently Asked Questions</h1>
        <p>It's okay to ask questions. Here are the most common ones we hear.</p>
      </div>
      <nav>
        <a href="#sexual-content">Sexual Content</a>
        <a href="#what-is-okay-in-relationships">What is Okay in Relationships?</a>
        <a href="#am-i-okay">Am I Okay?</a>
        <a href="#for-friends-and-family">For Friends and Family</a>
        <a href="#finding-support">Finding Support</a>
      </nav>
      <div class="small">Have more questions? <a href="/ask-us">chat with us!</a></div>
      <div class="small"><a href="#references">References</a></div>
    </header>

    <article class="card" id="sexual-content">
      <header>
        <h1>Sexual Content</h1>
        <p>Pornography, sexting, lolicon and more</p>
      </header>
      <main>
        <Markdown>
          Sexual media such as pornography (written, filmed, drawn or other) have been
          used for centuries as a means to explore sexuality individually and with
          partners. The viewing of sexual media is a personal decision for every
          individual and is influenced by their personal values and beliefs. There are
          some things to consider when making this decision:
          - This is a _personal_ decision. Nobody deserves the right to control (legally
            or otherwise) what kinds of media you are allowed to view in the privacy of
            your own home or judge you for what kinds of media you enjoy.
          - Sexual media–including adult pornography, child pornography and fictional
            pornography–are criminalised to various extents in different jurisdictions
            around the world.
          - Contrary to common misconception, research shows pornography is **not**
            correlated with an increase in violent sexual behaviour
            ([Ferguson & Hartley, 2009](https://doi.org/10.1016/j.avb.2009.04.008)). In fact, the opposite has been
            suggested.
          - Sexual media of persons younger than the age of 18 are illegal in most
            jurisdictions; however, legal use of these media is correlated and potentially
            causally linked with a reduction in actual illegal sexual behaviour between
            minors and adults ([Diamond et al, 2010](https://doi.org/10.1007/s10508-010-9696-y);
            [Kutchinsky, 1973](https://doi.org/10.1111/j.1540-4560.1973.tb00094.x)).
          - Viewing any type of sexual media in excess can be problematic for some
            individuals. Consider whether pornography is interfering with your daily
            responsibilities such as working and taking care of your family.
        </Markdown>
        <details>
          <summary>
            <h2>Are sexual media of children legal or healthy to view?</h2>
          </summary>
          <Markdown>
            Sexual media of children and adolescents (SMCA)–commonly referred to as 'child
            pornography'–are illegal in Australia, Canada, the United Kingdom (UK) and the
            United States (US). Whether these media are 'healthy' to view is more
            complicated because the viewing of pornography is a personal decision that
            affects each individual differently.
            SMCA includes a multitude of media from photos of violent sexual activity
            involving minors to photos of minors produced and distributed by themselves. It
            is worth noting, the legal use of SMCA is correlated and potentially causally
            linked with a reduction in actual illegal sexual behaviour between minors and
            adults ([Diamond et al, 2010](https://doi.org/10.1007/s10508-010-9696-y);
            [Kutchinsky, 1973](https://doi.org/10.1111/j.1540-4560.1973.tb00094.x)).
            For some, viewing SMCA can lead to stress and paranoia because of the fear of
            potential legal ramifications or feelings of guilt because of a belief that SMCA
            is inherently abusive. For others, especially those in jurisdictions where SMCA
            is legal to view (eg, Russia), it can serve as a safe outlet for difficult
            sexual feelings.
          </Markdown>
        </details>
        <details>
          <summary>
            <h2>Is it wrong or illegal to view non-sexual (SFW) media of children for sexual purposes?</h2>
          </summary>
          <Markdown>
            No, it is not wrong or inherently harmful to view media of children or
            adolescents for sexual purposes. Nobody besides you would ever even know you are
            viewing these media for sexual purposes unless you told them. However, if
            viewing these media is causing you to be distressed or is interfering with your
            daily responsibilities, then it is possible it is problematic for you. This
            doesn't mean you need to stop, but it could benefit you to limit the amount of
            time spend in these activities.
            Unfortunately, whether this is illegal depends on your jurisdiction. In the UK
            and some other countries, it can be considered illegal to view non-sexual media
            of children and adolescents for sexual purposes.
            In most jurisdictions, non-sexual media of children and adolescents can be
            considered illegal if they meet certain criteria that prove the media are
            produced for the purpose of satisfying minor-attracted persons (MAPs). This can
            (but doesn't always) include nude and non-nude media of children in what are
            determined by legal professionals to be suggestive attire or poses.
            However, it is important to note, generally speaking, non-sexual nude media of
            children are protected speech and are not illegal; although, as stated, in
            jurisdictions such as the UK, the act of using these media sexually can be
            considered illegal.
          </Markdown>
        </details>
        <details>
          <summary>
            <h2>What about hentai, lolicon, shotacon and other fictional sexual media?</h2>
          </summary>
          <Markdown>
            Lolicon and shotacon are fictional sexual media depicting characters with
            features commonly associated with children and adolescents (eg, short stature,
            flat chests, playful personalities, etc). This material does not involve real
            humans other than the artist and cannot be seen as abusive in nature.
            However, fictional sexual media are criminalised to various extents in
            Australia, Canada (exempt if self-produced), the UK and the US (legal grey
            area).
            Many people who are uncomfortable with viewing sexual media of children or
            adolescents (SMCA) or who are worried about legal ramifications find
            satisfaction in viewing fictional sexual media. Fictional sexual media have even
            been suggested by researchers as an alternative for SMCA
            ([Diamond et al, 2010](https://doi.org/10.1007/s10508-010-9696-y)).
          </Markdown>
        </details>
        <details>
          <summary>
            <h2>Is porn addiction real?</h2>
          </summary>
          <Markdown>
            It is debated whether people can be addicted to porn since it fulfils a basic
            human need (the need for sexual stimulation and pleasure). However, if viewing
            porn is interfering with a person's daily responsibilities or affecting their
            mental health in other ways, then it may be considered problematic even if it
            isn't considered an 'addiction'.
          </Markdown>
        </details>
      </main>
    </article>

    <article class="card" id="what-is-okay-in-relationships">
      <header>
        <h1>What is Okay in Relationships?</h1>
      </header>
      <main>
        <Markdown>
          Relationships come in many forms from a professional relationship between
          business partners to a sexual relationship between lovers. All relationships
          come with boundaries that must be respected in order for the relationship to
          thrive. Of course, boundaries vary based on the kind of relationship and the
          individuals involved. Harmful relationships are those where at least one
          person's boundaries are repeatedly or severely violated.
        </Markdown>

        <details>
          <summary>
            <h2>What is consent?</h2>
          </summary>
          <Markdown>
            Consent is the agreement of an individual to engage in a specific activity at a
            specific time. Consent must be given unambiguously and freely, and must include
            the ability to withdrawal consent at any time:

            - Consent must be enthusiastic and clear. If there is any room for
              interpretation, then it is safe to assume they are not consenting. If it's not
              an enthusiastic 'YES', then it is a 'NO'.
            - Consent must be given free of any kind of coercion or manipulation, which
              includes asking repeatedly, bargaining, guilt tripping and any other similar
              manipulative strategies. If there is any kind of pressure for the person to
              give a specific answer, then they are not consenting.
            - Consent must always be retractable. Just because a person gives consent in one
              moment does not mean they will be consenting in the next moment. In order for
              an activity to be consensual, _everyone_ involved in the activity must give
              consent.
          </Markdown>
        </details>

        <details>
          <summary>
            <h2>Who can give consent?</h2>
          </summary>
          <Markdown>
            Experts disagree on who is able to give consent to what sexual activities. Some
            believe people of certain ages are unable to understand consent and, thus,
            unable to give it. Others believe people who are under the influence of drugs or
            who have certain disabilities are unable to understand or give consent.

            Legal jurisdictions have different laws around the exact age that grants someone
            the _legal_ right to consent to sexual activity. Around the world, the age of
            legal consent varies from 0 to above 21 with most jurisdictions setting the line
            somewhere between 13 and 18. Many jurisdictions have close-in-age exemptions
            that allow people below the age of legal consent to legally engage in sexual
            activity with people who are similar in age to them (sometimes these exemptions
            also extend into SMCA shared between children and adolescents).
          </Markdown>
        </details>

        <details>
          <summary>
            <h2>What is sexual abuse?</h2>
          </summary>
          <Markdown>
            Abusive sexual activity is any sexual activity conducted without clear,
            enthusiastic, freely given and retractable consent from every individual
            involved.
          </Markdown>
        </details>
        
        <details>
          <summary>
            <h2>Is sexting safe?</h2>
          </summary>
          <Markdown>
            The act of sexting itself can be enjoyable and fulfilling between consenting
            individuals. But, there are risks involved that are important to be aware of.

            The biggest risk is the person you're sexting with sharing images of you without
            your consent. Ensure the person you're sexting with is someone you trust, and
            make it clear you don't want images of you shared (unless you do).

            Another considerable risk is most popular chat platforms are not secure and
            could leak your messages to third parties such as companies like Google or
            Facebook, or government surveillance organisations. Protect yourself by only
            sexting over an open-source, end-to-end encrypted platform such as
            [Signal](https://www.signal.org) or [Session](https://getsession.org).
          </Markdown>
        </details>
      </main>
    </article>
  
    <article class="card" id="am-i-okay">
      <header>
        <h1>Am I Okay?</h1>
      </header>
      <main>
        <Markdown>
          As a child, adolescent and even as an adult, sexual curiosity is healthy and
          natural. Everyone has their own unique sexual interests and preferences: Some
          people are attracted to the same gender; others are attracted an opposite
          gender; others are attracted to non-human animals, objects or even nobody and
          nothing. Regardless of who or what you are attracted to, your feelings are
          valid, and you deserve the same rights as everyone else.
        </Markdown>

        <details>
          <summary>
            <h2>Are my sexual behaviours are harmful?</h2>
          </summary>
          <Markdown>
            Remember, sexual behaviour relies on the consent of everyone involved, but a
            person's sexual behaviours can be harmful to themself or others without it being
            obvious or even intentional. It's important to communicate with your partner
            about your concerns in the relationship and understand your own and each other's
            expectations and boundaries.

            Signs your sexual behaviour may be harmful:

            - Not understanding or not respecting your partner's boundaries.
            - Expecting your partner to engage in certain behaviour because they have done
              it in the past.
            - Asking your partner repeatedly or begging them to engage in an activity.
            - Bargaining with your partner to get them to engage in an activity (eg, 'if you
              do this, then I'll do...').
            - Guilt tripping your partner by telling them they led you on or that it would
              be inconvenient to you if they withdrew their consent (eg, it would leave you
              with 'blue balls').
            - Taking advantage of a partner who is in a vulnerable situation (eg, someone
              who is intoxicated or who is in distress).
            - If you or your partner avoids engaging in sexual activity.
          </Markdown>
        </details>

        <details>
          <summary>
            <h2>Is it bad to be sexually attracted to children, animals, etc?</h2>
          </summary>
          <Markdown>
            No, of course not! Sexual attraction to anyone or anything is completely normal.
            Sexual orientation is unchosen, unpredictable and unchangeable. It is part of
            what makes each of us unique.

            Attraction to minors is common among people of all ages, genders and
            backgrounds. While the cause of minor attraction is unknown, it is widely
            thought to be primarily biological, meaning it is out of anyone's control.
            Estimates suggest somewhere between 1% and 5% of people are attracted to minors
            ([Seto, 2008](https://psycnet.apa.org/doi/10.1037/11639-000),
            [2013](https://doi.org/10.1037/14191-000), [2017](https://doi.org/10.1007/s10508-016-0799-y),
            [2018](https://doi.org/10.1037/0000107-000)). Some research studies suggest this number
            may be as high as 10% or 25% ([Ahlers et al, 2011](https://doi.org/10.1111/j.1743-6109.2009.01597.x);
            [Bergen et al, 2013](https://www.cybercrimejournal.com/bergenetalijcc2013vol7issue2.pdf)).

            There is a lot of stigma and ignorant hate directed at minor-attracted persons
            (MAPs). But, research shows minor attraction is not a mental illness, nor is it
            inherently harmful. However, MAPs _are_ at an increased risk of mental illness,
            and nearly 40% of MAPs experience chronic suicidal thoughts
            ([Cohen et al, 2020](https://doi.org/10.1177%2F1079063219825868)). Organisations like
            [B4U-ACT](https://www.b4uact.org) help to connect MAPs who are struggling with
            mental illness to MAP-friendly mental health professionals.

            Attraction to animals (commonly called 'zoophilia' or 'zoosexuality') is also
            common. Research has suggested as many as 2-3% of of people fantasise about
            engaging in sexual activity with animals ([Joyal et al, 2015](https://doi.org/10.1111/jsm.12734)).
          </Markdown>
        </details>

        <details>
          <summary>
            <h2>Am I a bad person for engaging in abusive sexual behaviour?</h2>
          </summary>
          <Markdown>
            No, you are not a bad person for having engaged in this behaviour. You are a
            human, and all humans makes mistakes.
          </Markdown>
        </details>
        
        <details>
          <summary>
            <h2>What should I do if I have engaged in abusive sexual behaviour?</h2>
          </summary>
          <Markdown>
            Recognising your own behaviour is or was abusive is an important step to
            preventing it from recurring. It's important to remember not all abusive sexual
            behaviour is illegal, and not all illegal sexual behaviour is abusive.

            After you are able to recognise and acknowledge your own behaviour as abusive,
            the next step is preventing this behaviour from recurring. Set limits and
            expectations for your own behaviour to ensure you are keeping yourself and
            others safe.

            If your behaviour has harmed your partner, and they are still in your life,
            discuss this with them if they are willing to. Be empathetic and allow them to
            express their feelings to you. Avoid minimising their emotions (they're _their_
            emotions, not yours). And, respect their boundaries; if, at any point, they no
            longer wish to discuss the topic or wish to leave the relationship, respect
            their right to do so. Work with your partner to develop strategies to ensure
            both of your boundaries are being respected.

            If your partner is no longer in your life, then take this as an opportunity to
            learn from your mistakes and ensure you don't engage in the same (or other)
            abusive behaviours with future partners.
          </Markdown>
        </details>

        <details>
          <summary>
            <h2>What should I do if I have engaged in illegal sexual behaviour?</h2>
          </summary>
          <Markdown>
            It's important to remember not all illegal sexual behaviour is abusive, and not
            all abusive sexual behaviour is illegal. A common concern is whether individuals
            should turn themselves or others into law enforcement. For some, engaging in
            illegal sexual behaviour can lead to stress and paranoia because of the fear of
            potential legal ramifications or feelings of guilt because of a belief that
            their behaviour is or was harmful to others.

            Illegal sexual behaviour may be problematic even if it is not causing harm to
            others. If the behaviour is causing you distress or is interfering with your
            daily responsibilities, then it may be best to consider abstaining from this
            behaviour.

            However, legal punishments are generally ineffective at preventing illegal
            behaviour from occurring or recurring
            ([Roodman, 2017](https://www.openphilanthropy.org/files/Focus_Areas/Criminal_Justice_Reform/The_impacts_of_incarceration_on_crime_10.pdf);
            [Harding, 2019](https://www.scientificamerican.com/article/do-prisons-make-us-safer);
            [Kimble & Grawer, 2019](https://www.brennancenter.org/our-work/analysis-opinion/between-2007-and-2017-34-states-reduced-crime-and-incarceration-tandem)).
            Additionally, legal punishments such as incarceration can be intensely harmful
            to individuals and can lead to physical and mental illness
            ([Committee on Causes and Consequences of High Rates of Incarceration ... Institute of Medicine, 2013](https://www.ncbi.nlm.nih.gov/books/NBK201966);
            [Morin, 2021](https://www.verywellmind.com/menta-health-effects-of-prison-5071300)). Research
            shows the best way to manage abusive and illegal behaviour is from a
            public-health perspective rather than from a legal perspective.

            Be aware, health care professionals in most jurisdictions are legally required
            to report patients to the police if they admit to engaging in certain illegal
            sexual behaviours such as sexual activity with minors and viewing of sexual
            media of children or adolescents (SMCA). Disclosing abusive or illegal sexual
            behaviour to a friend or family member, even someone you think you can trust,
            can be dangerous for the same reason.
          </Markdown>
        </details>
      </main>
    </article>

    <article class="card" id="for-friends-and-family">
      <header>
        <h1>For Friends and Family</h1>
      </header>
      <main>
        <Markdown>
          It can be shocking to find out that your friend or family member is sexually
          attracted to minors, animals or something else uncommon; that they have engaged
          in abusive or illegal sexual behaviour; or that they have viewed sexual media of
          children or adolescents (SMCA). You may have not experienced this, but that
          doesn't exclude the possibility of it happening in the future.

          You may feel surprised or in-denial. You may even feel worried or like they
          betrayed you. It's completely understandable to feel this way. In our society,
          there are few things as stigmatised as uncommon sexual attractions and
          behaviours. You are not alone in your reaction. You have every right to feel the
          emotions you feel.

          When a person confesses to you that they have uncommon sexual attractions or
          have engaged in abusive or illegal sexual behaviour, it may be unexpected. It
          may be upsetting. But, it doesn't have to be the end of your relationship. They
          are still the same person you have always known and loved. Focus on your
          relationship with this person. Focus on being their friend and caring about them
          as a person.

          Sexuality is innate, unchosen and unchangeable. Anyone of any age, gender, race,
          religion, etc can have any sexuality, and anyone–even completely ordinary
          people–may struggle with engaging in abusive or illegal sexual behaviour. They
          are still a worthy person.
        </Markdown>

        <details>
          <summary>
            <h2>What do I do when my friend or family member comes out to me?</h2>
          </summary>
          <Markdown>
            **Maintain your relationship.** They are still the exact same person as they
            were before they told you about their sexuality or behaviour. They are still the
            same friend, family member or partner who loves you. They are still the same
            sibling you grew up with. Sexuality is just one part of who a person is. Do not
            let this one thing ruin your relationship with this person. Repeat and emphasise
            that you still care about them and that they're still your friend/family
            member/partner.

            **Manage emotions.** A conversation cannot be productive when people are upset.
            If either you or the person you're talking to is experiencing immediate
            distress, the best actions are to provide support, receive support and calm
            down. Engaging in sensitive conversation when distressed is a recipe for
            disaster.

            **Practise active listening.** Listen to understand, not to respond. Pay
            attention to what's being said, maintain intermittent eye contact, use touch
            when appropriate and ask clarifying questions.

            **Ask questions.** Asking open-ended, non-judgmental questions is an excellent
            way to further your understanding about this person's experience, how minor
            attraction affects them and what they need from you. When you don't understand
            something, ask for clarification. If you would like more information about
            something, ask them if they can tell you more about it. Avoid 'why' questions as
            they can come off as interrogatory. Example questions:

            - 'How did you first realise you're attracted to... ?'
            - 'How does being attracted to ... affect you?'
            - 'Which kinds of ... are you attracted to?'
            - 'How long have you been engaging in this behaviour?'
            - 'Is this behaviour something you wish to quit?'
            - 'Can you tell me more about... ?'
            - 'What can I do to best support you?'

            **Intervene to support, not to prevent.** The large majority of people–even
            people with stigmatised sexualities like paedophilia and zoophilia–have never
            engaged in abusive or illegal sexual activity and never will. Most people are
            not at an increased risk for this behaviour because of their sexuality, and it
            is not your duty to prevent this person from engaging in it. A focus on
            prevention creates the assumption that you view this person as a liability
            rather than as an individual worthy of support. It creates an atmosphere of
            mistrust. Forgetting the focus on prevention and providing them with needed
            emotional support and friendship will foster mental well-being and lasting
            relationships.

            **Maintain confidentiality.** Sexuality and sexual behaviour are some of the
            most sensitive things a person can disclose about themself. They trusted you
            with this information with the confidence that it will be kept private.
          </Markdown>
        </details>

        <details>
          <summary>
            <h2>What should I avoid doing when someone comes out to me?</h2>
          </summary>
          <Markdown>
            **Do not make assumptions.** All people are different. Even if you know a great
            deal about sexuality and sexual behaviour, you do not know how it affects this
            individual person. Never assume they feel one way or the other. When a person
            comes out to you it's essential to approach the conversation without any kind of
            preconceived notions.

            **Do not ask whether they have engaged in illegal activity.** According to
            research, the large majority of people–even those with stigmatised sexualities
            like paedophilia and zoophilia–have not engaged in abusive or illegal sexual
            activity. Asking whether they have engaged in abusive or illegal activity
            creates an atmosphere of interrogation and mistrust that can be destructive to
            relationships. They most likely have not engaged in this activity, and they will
            almost certainly not tell you about it if they have, so **do not ask.** If they
            want to tell you, then they will tell you without you asking.

            **Do not attempt to change their sexuality.** Sexuality is not changeable.
            Trying will only cause harm to them and to your relationship. Actual sexual
            behaviours can be changed however.

            **Do not express approval or disapproval.** It is not your place to judge them.
            Instead, listen to them, validate their emotions, ask appropriate questions and
            support them emotionally if needed.

            **Do not take it personally.** You may feel like they betrayed you by keeping
            this a secret. And, although it's understandable to feel this way, it's
            important to understand they have likely been hiding this for years and have
            told very few people if anyone. Secrecy is essential for survival for some
            people with uncommon sexualities or who have engaged in abusive or illegal
            sexual behaviour. It can be very distressing for people to have to keep these
            lifelong secrets from their loved ones and even more distressing for them to
            tell others. Them keeping it secret is not personal.

            **Do not accuse them of being an unfaithful partner.** It's natural to feel a
            bit jealous at the thought of your partner being attracted to people other than
            you, but understand attraction is not something that can be chosen. They did not
            choose to be attracted to others. It doesn't mean that they find you any less
            attractive or that they no longer want to be with you. It's simply another part
            of who they are.
          </Markdown>
        </details>

        <details>
          <summary>
            <h2>What do I do if I find out someone has viewed child pornography?</h2>
          </summary>
          <Markdown>
            The viewing of sexual media of children and adolescents (SMCA) is common, but it
            can be very surprising and even frightening to find out your friend, family
            member or someone else in your life has viewed SMCA. There are many reasons
            someone may view SMCA, but it's important not to make any assumptions or
            judgments and to instead ask them.

            A common concern is whether you are required to report this person to law
            enforcement. This varies by jurisdiction, but most-likely, no. Ordinary people
            are generally not required to report others to law enforcement for viewing SMCA
            or for engaging in other illegal sexual behaviours.

            Legal punishments are generally ineffective at preventing illegal behaviour from
            occurring or recurring
             ([Roodman, 2017](https://www.openphilanthropy.org/files/Focus_Areas/Criminal_Justice_Reform/The_impacts_of_incarceration_on_crime_10.pdf);
            [Harding, 2019](https://www.scientificamerican.com/article/do-prisons-make-us-safer);
            [Kimble & Grawer, 2019](https://www.brennancenter.org/our-work/analysis-opinion/between-2007-and-2017-34-states-reduced-crime-and-incarceration-tandem)).
            Additionally, legal punishments such as incarceration can be intensely harmful
            to individuals and can lead to physical and mental illness
            ([Committee on Causes and Consequences of High Rates of Incarceration ... Institute of Medicine, 2013](https://www.ncbi.nlm.nih.gov/books/NBK201966);
            [Morin, 2021](https://www.verywellmind.com/menta-health-effects-of-prison-5071300)). Research
            shows the best way to manage abusive and illegal behaviour is from a
            public-health perspective rather than from a legal perspective.

            However, be aware, healthcare professionals in most jurisdictions are legally
            required to report patients to the police if they admit to engaging in certain
            illegal sexual behaviours such as sexual activity with minors and viewing of
            SMCA. So, even if this person _wants_ to seek help from a healthcare
            professional, they may not be able to without putting themself at risk.

            View the sections _What do I do when my friend or family member comes out to me?_ and
            _What should I avoid doing when someone comes out to me?_ for some ways you can
            support individuals who have viewed SMCA.
          </Markdown>
        </details>
        
        <details>
          <summary>
            <h2>What do I do if someone is engaging in abusive sexual behaviour?</h2>
          </summary>
          <Markdown>
            View the sections _What should I avoid doing when someone comes out to me?_ and
            _What should I avoid doing when someone comes out to me?_ for some ways you can
            support individuals who have engaged in abusive sexual behaviour.
          </Markdown>
        </details>
      </main>
    </article>

    <article class="card" id="finding-support">
      <header>
        <h1>Finding Support</h1>
      </header>
      <main>
        <Markdown>
          Every single person–regardless of their sexuality, fantasies, past behaviour or
          anything else–deserves unconditional respect, support, and compassion. Seeking
          support as a person with an uncommon sexuality, as someone who has engaged in
          illegal or abusive sexual behaviour, or as someone who has viewed sexual media
          of children or adolescents (SMCA) can be challenging but is not impossible.
          There are peer-support resources available for people in these situations as
          well as professional support options. View our _Resources_ page for some helpful
          information about organisations and other resources that may be relevant to you.
        </Markdown>

        <details>
          <summary>
            <h2>How do I access support safely?</h2>
          </summary>
          <Markdown>
            Many professionals–even most doctors, nurses and psychologists–are not trained
            in providing support to people with uncommon sexual attractions such as
            paedophilia and zoophilia. Because of this, coming out to a professional can put
            you at risk of being exposed to stigma, hate and uninformed advice.

            It's generally advisable to seek support from a professional who is specialised
            in serving people in situations similar to yours. There are also peer-support
            groups, self-help resources and anonymous support resources available online.
            View our _Resources_ page for some helpful information about organisations and
            other resources that may be relevant to you.

            In order to ensure the professional you're seeking support from will be a good
            fit for you, consider asking some of these questions:

            - What are your thoughts on people who... ?
            - Have you ever worked with someone who... ?
            - How would you support someone who... ?
            - What exactly are you required to report to the police?
            - Would you report it to the police if a patient told you... ?
          </Markdown>
        </details>

        <details>
          <summary>
            <h2>Where can I find support if I am a minor?</h2>
          </summary>
          <Markdown>
            Options for support are more limited for minors. In some jurisdictions, minors
            are able to seek confidential support for sexual health, but in others, they
            aren't. Be informed of your local laws and how they affect your right to seek
            healthcare as a minor without your parents' control. View the section _How do I
            access support safely?_

            There are some peer-support groups, self-help resources and anonymous support
            resources available online that serve minors. View our _Resources_ page for some
            helpful information about organisations and other resources that may be relevant
            to you.
          </Markdown>
        </details>

        <details>
          <summary>
            <h2>Will a professional out me to my parents?</h2>
          </summary>
          <Markdown>
            It is possible a professional will disclose your private health information to
            your parents without your consent in certain situations. Before disclosing
            sensitive information, discuss with you healthcare provider what kinds of
            situations they would disclose to your parents. You can also ask about whether
            they would disclose a hypothetical situation similar to your own without
            revealing this as your own situation.
          </Markdown>
        </details>
        
        <details>
          <summary>
            <h2>How do I come out?</h2>
          </summary>
          <Markdown>
            Coming out is a decision each person makes. What's important is to consider your
            individual situation and how coming out could affect you. Coming out is not
            necessary, and many people live their lives happily without disclosing details
            about their sexuality or sexual behaviours to their friends or family. Others
            feel coming out has benefited them, but benefit is never guarunteed. Consider
            these questions when deciding whether coming out is best for you:

            **_Situation_**

            - What exactly are you considering disclosing?
            - Exactly who are you considering disclosing it to?
            - When exactly are you considering coming out?
            - Is coming out necessary at this time, or can it happen later?
            - Are you able to provide the person you come out to with information and
              resources about what you disclose?

            **_Motivation_**

            - What are you reasons for wanting to come out?
            - Do you feel pressured or forced to come out?
            - Are you worried about someone else outing you against your will?

            **_Outcome_**

            - How do you hope the person/people will react when you come out to them?
            - Can your desired outcome be obtained without coming out?
            - What is the best possible outcome, and what is the worst possible outcome?
            - Would you be able to support and protect yourself if the worst possible
              outcome happened?
          </Markdown>
        </details>

        <details>
          <summary>
            <h2>Will I be reported to the police?</h2>
          </summary>
          <Markdown>
            When disclosing uncommon sexual attractions, abusive or illegal sexual
            behaviour, or viewing of sexual media of children and adolescents (SMCA), there
            is a possibility of being reported to the police even if you haven't broken the
            law. This can sometimes be prevented by first talking to the person about what
            kinds of situations they would report to the police and what they would be
            required to report. You can ask about a hypothetical situation similar to your
            own to see if they would report it or if they would be required to.

            Avoid disclosing illegal sexual activity or the viewing of SMCA unless it is
            already known to law enforcement that you engaged in this activity.
          </Markdown>
        </details>
      </main>
    </article>

    <article class="card" id="references">
      <header>
        <h1>References</h1>
      </header>
      <main>
        <details>
          <summary>Expand</summary>
          <Markdown>
             Ahlers, CJ, Schaefer, GA, Mundt, IA ... Beier, KM. (2011). How unusual are 
             the contents of paraphilias? Paraphilia-associated sexual arousal patterns 
             in a community-based sample of men. _The Journal of Sexual Medicine, 8_(5), 
             1362–1370. https://doi.org/10.1111/j.1743-6109.2009.01597.x. 
             
             Bergen, E, Antfolk, J, Jern, P, Alanko, K & Santtila, P. (2013). Adults' sexual 
             interest in children and adolescents online: a quasi-experimental study. 
             _International Journal of Cyber Criminology, 7_(2), 94–111. 
             https://www.cybercrimejournal.com/bergenetalijcc2013vol7issue2.pdf.
             
             Cohen, LJ, Wilman-Depena, S, Barzilay, S, Hawes, M, Yaseen, Z & Galynker, 
             I. (2020). Correlates of chronic suicidal ideation among community-based 
             minor-attracted persons. _Sexual Abuse, 32_(3), 273–300. 
             https://doi.org/10.1177%2F1079063219825868. 
             
             Committee on Causes and Consequences of High Rates of Incarceration ... 
             Institute of Medicine. (2013). _Health and incarceration: a workshop summary._ 
             https://www.ncbi.nlm.nih.gov/books/NBK201966. 
             
             Diamond, M, Jozifkova, E & Weiss, P. (2010). Pornography and sex crimes in 
             the Czech Republic. _Archives of Sexual Behavior, 40,_ 1037–1043. 
             https://doi.org/10.1007/s10508-010-9696-y. 
             
             Ferguson, CJ & Hartley, RD. (2009). The pleasure is momentary…the expense 
             damnable?: the influence of pornography on rape and sexual assault. _Aggression 
             and Violent Behavior, 14_(5), 323–329. https://doi.org/10.1016/j.avb.2009.04.008. 
             
             Harding, DJ. (2019). _Do prisons make us safer?: New research shows that prisons 
             prevent far less violent crime than you might think._ Scientific American. 
             https://www.scientificamerican.com/article/do-prisons-make-us-safer. 
             
             Joyal, CC, Cossette, A & Lapierre, V. (2015). What exactly is an unusual fantasy? 
             _The Journal of Sexual Medicine, 12_(2), 328–340. 
             https://doi.org/10.1111/jsm.12734. 
             
             Kimble, C & Grawert, A. (2019). _Between 2007 and 2017, 34 states reduced 
             crime and incarceration in tandem: Some still argue that increasing imprisonment 
             is necessary to reduce crime. Data show otherwise._ Brennan Center for Justice. 
             https://www.brennancenter.org/our-work/analysis-opinion/between-2007-and-2017-34-states-reduced-crime-and-incarceration-tandem. 
             
             Kutchinsky, B. (1973).  The effect of easy availability of pornography on the incidence 
             of sex crimes: the Danish experience. _Journal of Social Issues, 29_(3), 163–181. 
             https://doi.org/10.1111/j.1540-4560.1973.tb00094.x. 
             
             Morin, A. (2021). _The mental health effects of being in prison._ Verywell Mind. 
             https://www.verywellmind.com/menta-health-effects-of-prison-5071300. 
             
             Roodman, D. (2017). _The impacts of incarceration on crime._ Open Philanthropy 
             Project. https://www.openphilanthropy.org/files/Focus_Areas/Criminal_Justice_Reform/The_impacts_of_incarceration_on_crime_10.pdf. 
             
             Seto, MC. (2008). _Pedophilia and sexual offending against children: theory, 
             assessment, and intervention._ American Psychological Association. 
             https://doi.org/10.1037/11639-000. 
             
             Seto, MC. (2013). _Internet sex offenders._ American Psychological Association. 
             https://doi.org/10.1037/14191-000. 
             
             Seto, MC. (2017). The puzzle of male chronophilias. _Archives of Sexual Behavior, 
             46,_ 3–22. https://doi.org/10.1007/s10508-016-0799-y. 
             
             Seto, MC. (2018). _Pedophilia and sexual offending against children: theory, 
             assessment, and intervention_ (2nd ed). American Psychological Association. 
             https://doi.org/10.1037/0000107-000. 
          </Markdown>
        </details>
      </main>
    </article>
  </main>
</BaseLayout>
