---
import { Markdown } from 'astro/components';
import BaseLayout from '../layouts/BaseLayout.astro'

import PostPreview from '../components/PostPreview'

const posts = Astro.fetchContent('../pages/blog/*.md')
---
<style lang="scss">
  header {
    position: relative;
    height: 100vh;
    max-height: calc(100vh - 103px);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background-color: rgb(217 98 52 / 45%);
    }
    h1 {
      position: absolute;
      top: 25vh;
      right: clamp(40px, 80px, 7vmin);
      max-width: 18ch;
      margin: 35px;

      color: #fff;
      font-size: clamp(32px, 64px, 7vmin);
      z-index: 2;
    }

    img {
      position: absolute;
      width: 100vw;
      height: 100vh;
      max-height: calc(100vh - 103px);
      object-fit: cover;
      object-position: 25% 25%;

    }
  }

  section {
    display: grid;
    place-content: center;
    place-items: center;
    background-color: #ab3192;
    padding: 85px 20px;
    color: #fff;
    text-align: center;

    h2 {
      max-width: 35ch;
      margin: 0;
      font-size: clamp(24px, 48px, 5vw);
    }

    a {
      color: #fff;
      max-width: 35ch;
      margin: 0;
      font-size: clamp(24px, 48px, 5vw);
      padding-top: 32px;
    }
  }

  .blog {
    background-color: #fff;
    color: black;

    section {
      max-width: 1200px;
      display: grid;
      gap: 50px;
      background-color: inherit;
      max-width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }

  .beliefs {
    background-color: #27b0c2;

    div {
      margin-top: 32px;
      max-width: 1200px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0 35px;

      @media only screen and (max-width : 800px) {
        grid-template-columns: 1fr;
      }

      p {
        text-align: left;
        font-size: 22px;
      }
    }
  }

  .about {
    background-color: #fff;
    color: black;

    h2 {
      color: #ab3192;
    }

    p {
      margin-top: 32px;
      max-width: 1200px;
      text-align: left;
      font-size: 22px;
    }

    a {
      color: inherit;
      width: 100%;
      max-width: 1200px;
      text-align: left;
      font-size: 22px;
    }
  }
</style>
<BaseLayout title="Home">
	<main>
    <header>
      <img src="/index-hero.jpg" alt="">
      <h1>Do you have questions about: sexual content, relationships, and more?</h1>
    </header>

    <section class="have-questions">
      <h2>Do you have questions about sexual content, relationships, and more?</h2>
      <a href="/faq">Read our FAQs!</a>
    </section>

    <section class="blog">
      <h2>Blog posts</h2>
      <section>
        {posts.slice(0, 3).map((post) => (
          <PostPreview post={post}></PostPreview>
        ))}
      </section>
    </section>

    <section class="beliefs">
      <h2>What we believe</h2>
      <div>
        <p>
          We believe everyone deserves unconditional respect, support and
          compassion regardless of their age, gender, sexuality, religion,
          thoughts, past actions, physical or mental health, socioeconomic
          status or anything else. There is nothing that makes a person
          unworthy.
        </p>
        <p>
          We believe everyone deserves free access to this information without
          the attached stigma, misinformation and harmful advice many other
          resources perpetuate.
        </p>
        <p>
          We believe all health issues, including preventing abusive sexual
          behaviours, should be managed as health issues, not as legal issues.
        </p>
      </div>
    </section>

    <section class="about">
      <h2>Who are are?</h2>
      <p>
        We are a group of peers who have been in similar situations as you.
      </p>  
      <p>
        We believe everyone deserves unconditional respect, support and compassion
        regardless of their age, gender, sexuality, religion, thoughts, past actions,
        physical or mental health, socioeconomic status or anything else. There is
        nothing that makes a person unworthy.
     </p>
      <p> 
        We believe everyone deserves free access to this information without the
        attached stigma, misinformation and harmful advice many other resources
        perpetuate.
      </p>
      <p>
        We believe all health issues, including preventing abusive sexual behaviours,
        should be managed as _health_ issues, not as legal issues.
      </p>
    </section>
  </main>
</BaseLayout>
