---
import { Markdown } from 'astro/components';
import BaseLayout from '../layouts/BaseLayout.astro'
---
<style lang="scss">
  section {
    padding: 100px 50px;
    color: #fff;
    background-color: #60bc56;
  
    * {
      margin: auto;
      max-width: 80ch;
    }

    h1 {
      font-size: 32px;
    }

    h2 {
      margin-top: 50px;
    }

    a {
      color: #fff;
    }
  }
</style>
<BaseLayout title="Privacy Policy">
	<main>
    <section>
      <div>
        <Markdown>
            # Privacy Policy
        
            What's Okay does not store identifying information about visitors, nor do we
            transmit information about our visitors to any third parties.
        </Markdown>
      </div>
    </section>
  </main>
</BaseLayout>
