---
import { Markdown } from 'astro/components';
import BaseLayout from '../layouts/BaseLayout.astro'
---
<style lang="scss">
  main {
    max-width: 930px;
    margin: auto;
    padding: 100px 50px;
  }

  h1 {
    color: #60bc56;
    font-size: 38px;
  }
</style>
<BaseLayout title="Resources">
	<main>
    <h1>Resources</h1>
    <Markdown>
        What's Okay encourages our visitors to view Open MAP Community's comprehensive
        list of resources related to safe communities for persons with stigmatised
        sexualities, mental health support, research, prevention of abusive or illegal
        sexual behaviours, and much more:
    
        https://blog.mapcommunity.org/omc/resources
    </Markdown>
  </main>
</BaseLayout>
