<style lang="scss">
  footer {
    display: grid;
    place-content: center;
    place-items: center;
    background-color: #ab3192;
    color: #fff;
    padding: clamp(12px, 5vw, 64px);
    font-size: clamp(12px, 5vw, 18px);


    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 32px;
      max-width: 800px;

      ul {
        display: grid;
        place-items: end;
        place-content: end;
        margin: 0;
        padding: 0;
        list-style-type: none;
        
        li {
          padding: 6px 0;
        }

        a {
          padding: 6px 0;
          color: #fff;
          text-align: right;
        }
      }
      
      .attribution {
        grid-column: 1 / 3;
        text-align: center;

        a {
          color: inherit;
          text-decoration: inherit;
        }
      }
    }
  }
</style>

<footer>
  <div class="wrapper">
    <section class="about">
      We believe everyone deserves free access to this information without the
      attached stigma, misinformation and harmful advice many other resources
      perpetuate.
    </section>
    <section class="links">
      <ul>
        <li>
          <a href="https://mapcommunity.org">Chat with us on OMC</a>
        </li>
      </ul>
    </section>
    <section class="attribution">
      <a
        href="https://gitlab.com/open-map-community/whats-okay/-/blob/main/CONTRIBUTORS.md"
        target="_blank"
      >Made with 💙 by fellow MAPs</a>
    </section>
  </div>
</footer>