---
const { title } = Astro.props;
---

<style lang="scss">
  header {
      background-color: #ab3192;
      height: fit-content;
      width: 100vw;

      div.wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 30px clamp(12px, 80px, 5vw);

        > a {
          font-size: 32px;
          font-weight: 900;
          place-self: center;
          margin-right: 25px;
        }

        a {
          color: #fff;
          text-decoration: none;

          &:visited {
            color: #fff;
          }

          &:hover {
            text-decoration: underline;
          }
        }

        label {
          font-size: 0;
        }

        #hamburger-button {
          display: none;
        }

        @media only screen and (max-width : 1000px) {
          
          #hamburger-button {
            display: unset;
            appearance: none;
            width: 32px;
            height: 32px;
            border: 0;
            outline: 0;
            background: transparent;
            background-image: url("/hamburger.svg");
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;

            &:checked {
              
              ~ nav {
                display: flex;
                flex-direction: column;
                background-color: #ab3192;
                position: absolute;
                width: 100vw;
                min-height: 100vh;
                top: 98px;
                left: 0;
                z-index: 100;
                place-content: start;
                padding: 64px 12px;
              }
            }
          }
        }

        nav {
          display: flex;
          flex-direction: row;
          gap: 25px;
          place-items: center;
          place-content: center;
          font-weight: 900;

          @media only screen and (max-width : 1000px) {
            display: none;
          }

          .button {
            padding: 12px 28px;
            background-color: #faa12d;
            color: #000;
            font-weight: 900;
          }
        }
      }
    }
</style>

<header>
  <div class="wrapper">
    <a href="/">What's Okay?</a>
    <label for="hamburger-button">Open and close Navigation menu</label>
    <input id="hamburger-button" type="checkbox" aria-role="button" aria-controls="main-nav">
    <nav id="main-nav">
      <a href="/" aria-current={title === "Home" ? "page" : "none"}>Home</a>
      <a href="/about" aria-current={title === "About" ? "page" : "none"}>About</a>
      <a href="/faq" aria-current={title === "FAQ" ? "page" : "none"}>Fequently Asked Questions</a>
      <a href="/blog" aria-current={title === "blog" ? "page" : "none"}>Blog</a>
      <a href="/resources" aria-current={title === "Resources" ? "page" : "none"}>Resources</a>
      <a href="/ask-us" class="button" aria-current={title === "Ask Us" ? "page" : "none"}>Ask Us</a>
    </nav>
  </div>
</header>