---
const { post } = Astro.props;
---

<style lang="scss">
  a {
    place-self: start;
    text-decoration: none;
    word-break: normal;
    height: 100%;

    &:hover {
      text-decoration: underline;
    }
  }

  article {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    color: black;
    text-align: left;

    .author {
      margin-top: 15px;
      align-self: end;
      font-weight: light;
    }
  }
</style>

<a href={post.url}>
  <article>
    <h1>{post.title}</h1>
    <p>{post.description}</p>
    <p class="author">By: {post.author}</p>
  </article>
</a>