---
import { Markdown } from 'astro/components';

import Header from '../components/Header'
import Footer from '../components/Footer'

const {title} = Astro.props;
---
<style lang="scss">
  :global() {
    *, *::before, *::after {
      box-sizing: border-box;
    }
    
    * {
      margin: 0;
    }

    html, body {
      height: 100%;
    }

    body {
      line-height: 1.5;
      -webkit-font-smoothing: antialiased;
    }

    img, picture, video, canvas, svg {
      display: block;
      max-width: 100%;
    }

    input, button, textarea, select {
      font: inherit;
    }

    p {
      overflow-wrap: break-word;
    }

    a {
      word-break: break-all;
    }
  }

  :global(html) {
    font-family: 'Maven Pro', sans-serif;
  }

  :global(body) {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
    scroll-behavior: smooth;
  }
</style>

<html>
  <head>
    <title>What's Okay? - {title}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap" rel="stylesheet"> 
  </head>
  <body>

    <h1 style="margin: 45vh auto">Site is under construction.</h1>

    <!-- <Header title={title}/> -->

    <!-- <slot /> -->

    <!-- <Footer /> -->
  </body>
</html>
