---
import Header from '../components/Header'
import Footer from '../components/Footer'

const {content} = Astro.props;
---
<style lang="scss">
  :global(html) {
    font-family: 'Maven Pro', sans-serif;
  }

  :global(body) {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
    scroll-behavior: smooth;
  }

  main {
    padding: 24px;
    max-width: 60ch;
    margin: auto;
  }

  article {
    footer {
      padding-top: 50px;

      .author {
        font-weight: bold;
      }
    }
  }
</style>

<html>
  <head>
    <title>What's Okay? - {content.title}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <Header title={content.title} />

    <main>
      <article>
        <slot />
        <footer>
          Author: <span class="author">{content.author}</span>
        </footer>
      </article>
    </main>

    <Footer />
  </body>
</html>
